</section>
<!--section ends-->


<!--footer starts-->
<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>Link veloci</h3>
            <a href="./../home.php"><i class="fas fa-angle-right"></i>Home</a>
            <a href="./../about.php"><i class="fas fa-angle-right"></i>About</a>
            <a href="./../contatti.php"><i class="fas fa-angle-right"></i>Contatti</a>
            <a href="./../prodotti.php"><i class="fas fa-angle-right"></i>Prodotti</a>
        </div>

        <div class="box">
            <h3>Link extra</h3>
            <a href="./../contatti.php"><i class="fas fa-angle-right"></i>ask questions</a>
            <a href="./../about.php"><i class="fas fa-angle-right"></i>about us</a>
            <a href="#"><i class="fas fa-angle-right"></i>privacy policy</a>
            <a href="à"><i class="fas fa-angle-right"></i>terms of use</a>
        </div>

        <div class="box">
            <h3>Contatti</h3>
            <a href="#"><i class="fas fa-phone"></i>+011-710-615</a>
            <a href="#"><i class="fas fa-phone"></i>+011-520-752</a>
            <a href="https://gmail.com/"><i class="fas fa-envelope"></i>alce@gmail.com</a>
            <a href="#"><i class="fas fa-map"></i>Via foligno, Torino - 10136</a>
        </div>
        <div class="box">
            <h3>Follow us</h3>
            <a href="https://it-it.facebook.com/"><i class="fab fa-facebook-f"></i>Facebook</a>
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i>Twitter</a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i>Instagram</a>
            <a href="https://it.linkedin.com/"><i class="fab fa-linkedin"></i>Linkedin</a>
        </div>
        <div id="w3c">
            <a href="http://validator.w3.org">
                <img class="imgValid" src="http://www.cs.washington.edu/education/courses/cse190m/12sp/homework/4/w3c-html.png">
            </a>
            <a href="http://jigsaw.w3.org/css-validator">
                <img class="imgValid" src="http://jigsaw.w3.org/css-validator/images/vcss">
            </a>
        </div>
    </div>
</section>
<!--footer ends-->


<!--swiper js link-->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>   

<!--JS file link-->
<script src="./../../js/script_login.js"></script>
</body>
</html>
